body {
    background-color: rgb(61, 207, 200);
}
h1 {
    font-family: 'Suez One', serif;
    color: darkgreen;
    text-align: center;
}
h2, h3 {
    font-family: 'Quando', serif;
    text-align: center;
}
h4 {
    font-family: 'Mukta Mahee', sans-serif;
    text-align: center;
}
h5 {
    font-family: 'Quando', sans-serif;
    text-align: left;
}
h6 {
    font-family: 'Mukta Mahee', sans-serif;
}
p {
    font-family: 'Quando', sans-serif;
    text-align: center;
    margin: 30px auto;
}
nav {
    font-family: 'Paytone One', sans-serif;
    word-spacing: 10px;
    background-color: rgb(184, 241, 239);
    margin-left: 40px;
    margin-right: 40px;
    text-align: left;
    padding: 6px;
    display: block;
    padding-left: 10px;
}   
a:link {
    text-decoration: none;
}
a:hover {
    color: white;
}
img {
    display: block;
    margin: 20px auto;
    border-radius: 25px;
    box-shadow: 10px 10px darkslategrey;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    box-sizing: border-box;  
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: seagreen;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
li {
    margin-left: 40px;
    margin-right: 40px;
}
ul {
    margin-left: 90px;
}
.container {
    background-color: rgb(199, 231, 230);
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}
.row {
    display: flex;
    flex-direction: column;
}
.row a {
margin-right: 10px;
}

@media only screen and (min-width: 768px) {
    .row {
        flex-direction: row;
    } 

}